<div class='line menu'>
						<dl class='mainmenu start link'>
							<a href="{:U('Admin/Index/index')}"><span class='icon-logo icon-home text-big'></span>开始</a>
						</dl>
						
						
						
						<dl class='mainmenu user'>
							<dt><span class='icon-logo icon-user text-big'></span>用户管理</dt>
								<dd class='link'><a href="{:U('Admin/User/account')}">新建用户</a></dd>
								<dd class='link'><a href="{:U('Admin/User/student')}">学生</a></dd>
								<dd class='link'><a href="{:U('Admin/User/teacher')}">教师</a></dd>
								<dd class='link'><a href="{:U('Admin/User/admin')}">管理员</a></dd>
							
						</dl>
						
						<dl class='mainmenu bs'>
							<dt><span class='icon-logo icon-mortar-board text-big'></span>毕业设计</dt>
							
								<dd class='link'><a href="{:U('Admin/Bs/preview')}">课题总览</a></dd>
								<dd class='link'><a href="{:U('Admin/Bs/view')}">查看课题</a></dd>
								<dd class='link'><a href="{:U('Admin/Bs/history')}">历史数据查询</a></dd>
							
						</dl>
						<dl class='mainmenu sys'>
							<dt><span class='icon-logo icon-cog text-big'></span>系统设置</dt>
								<dd class='link'><a href="{:U('Admin/Sys/init')}">初始化</a></dd>
								<dd class='link'><a href="{:U('Admin/Sys/sel')}">选项配置</a></dd>
								<dd class='link'><a href="{:U('Admin/Sys/time')}">毕设时间设置</a></dd>
						</dl>
						<dl class='mainmenu start link'>
							<a href="{:U('Home/Login/logout')}"><span class='icon-logo icon-power-off text-big'></span>退出</a>
						</dl>
					
						<dl class='mainmenu text-center'>
							<p>请使用IE8+或chrome浏览</p>毕业管理系统管理后台
						</dl>
					
				</div>