<div class='line menu'>
						<dl class='mainmenu start link'>
							<a href="{:U('Teacher/Index/index')}"><span class='icon-logo icon-home text-big'></span>开始</a>
						</dl>
						<dl class='mainmenu user'>
							<dt><span class='icon-logo icon-user text-big'></span>个人中心</dt>
								<dd class='link'><a href="{:U('Teacher/User/view')}">查看资料</a></dd>
								<dd class='link'><a href="{:U('Teacher/User/edit')}">修改资料</a></dd>
								
							
						</dl>
						
						<dl class='mainmenu bs'>
							<dt><span class='icon-logo icon-mortar-board text-big'></span>毕业设计</dt>
							
								<dd class='link'><a href="{:U('Teacher/Bs/add')}">课题填报</a></dd>
								<dd class='link'><a href="{:U('Teacher/Bs/xt')}">选题情况</a></dd>
								<dd class='link'><a href="{:U('Teacher/Bs/manage')}">毕设管理</a></dd>
							
						</dl>
						
						<dl class='mainmenu bs'>
							<dt><span class='icon-logo icon-mortar-board text-big'></span>课题管理</dt>
							
								<dd class='link'><a href="{:U('Teacher/BsManager/preview')}">课题总览</a></dd>
								<dd class='link'><a href="{:U('Teacher/BsManager/ktsh')}">课题审核</a></dd>
								<dd class='link'><a href="{:U('Teacher/BsManager/history')}">历史数据查询</a></dd>
							
						</dl>
						
						
						<dl class='mainmenu start link'>
							<a href="{:U('Home/Login/logout')}"><span class='icon-logo icon-power-off text-big'></span>退出</dl></a>
						<dl class='mainmenu text-center'>
							<p>请使用IE8+或chrome浏览</p>毕业管理系统管理后台
						</dl>
					
				</div>